.avatar-img-container {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img-container + .message {
  margin: 1rem auto 0;
}

.avatar-img-container:focus-visible {
  outline: 0.14rem dashed black;
  outline-offset: 0.1rem;
}

.avatar-img-container:focus-within .avatar-overlay {
  opacity: 1;
}

.avatar-img-container img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  user-select: none;
}

.avatar-img-container .avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
}

.avatar-img-container .avatar-overlay button {
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 1.5rem;
  opacity: 0.7;
}

.avatar-img-container .avatar-overlay button:focus-visible {
  outline: 0.14rem dashed white;
  outline-offset: 0.1rem;
  border-radius: 50%;
}

.avatar-img-container .avatar-overlay:hover {
  opacity: 1;
}
