.btn {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  border: var(--border-md);
  border-radius: var(--radius-md);
  padding: 0.3rem 1rem;
  height: 2rem;
  text-align: center;
}

.btn:focus-visible {
  outline: none;
}

.btn:disabled:hover {
  cursor: not-allowed;
  transform: none;
  background-color: revert;
}

.btn:disabled:active {
  box-shadow: none;
}

/* modifiers */

.btn-text {
  height: 1rem;
  line-height: 0;
  border: none;
  background: none;
  padding: 0;
  border-radius: 0;
}

.btn-circle {
  width: 2rem;
  height: 2rem;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
}

.btn-fixed {
  position: fixed;
  z-index: 1000;
}

/* effects */

.btn-effect-3d:focus-visible,
.btn-effect-press:focus-visible,
.btn-effect-shadow:focus-visible .btn-effect-rotate:focus-visible {
  outline: none;
}

.btn-effect-3d {
  transition: transform var(--transition-normal);
}

.btn-effect-3d:hover,
.btn-effect-3d:focus-visible {
  transform: perspective(10rem) translate3d(0, 0, 1rem);
}

.btn-effect-3d:active {
  transform: perspective(10rem) translate3d(0, 0, -1rem);
}

.btn-effect-press {
  transition: background-color var(--transition-normal);
}

.btn-effect-press:hover,
.btn-effect-press:focus-visible {
  background-color: rgba(128, 128, 128, 0.5);
}

.btn-effect-press:active {
  box-shadow: var(--shadow-inset);
}

.btn-effect-shadow {
  box-shadow: var(--shadow);
  transition:
    transform var(--transition-fast),
    box-shadow var(--transition-normal);
}

.btn-effect-shadow:hover,
.btn-effect-shadow:focus-visible {
  transform: scale(1.05);
}

.btn-effect-shadow:active {
  transform: scale(0.95);
  box-shadow: none;
}

.btn-effect-rotate {
  transition: transform var(--transition-normal);
}

.btn-effect-rotate:hover,
.btn-effect-rotate:focus-visible {
  transform: scale(1.2) rotate(360deg);
}

.btn-effect-rotate:active {
  transform: none;
}
