.login-container form {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 14rem;
  text-align: center;
}

.login-container input,
.login-container button[type="submit"] {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.login-container .error {
  max-width: 14rem;
  text-align: center;
  margin: 1rem auto 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: rgba(180, 50, 40, 0.8);
  border-radius: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 320px) {
  .login-container input,
  .login-container button[type="submit"] {
    min-height: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
