.login-container form {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 14rem;
  text-align: center;
}

.login-container form :first-child {
  margin-top: 0;
}

.login-container input,
.login-container button[type="submit"] {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
  .login-container input,
  .login-container button[type="submit"] {
    min-height: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
