.book-section .img-container {
    margin: 1rem;
    width: 12rem;
    height: 16rem;
    flex-shrink: 0;
}

.book-section .book-image {
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-section .book-image:hover {
    transform: perspective(6rem) translate3d(2.5rem, -2.5rem, 2.5rem);
}

.book-section .book-info {
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5;
}

.book-section .book-info p {
    margin-top: 0;
}

.book-section .book-description {
    padding: 1rem;
    margin: 1rem;
    line-height: 1.5;
}

.book-section .book-span {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    .book-section .book-info {
        width: 100%;
        margin: 1rem 0;
    }

    .book-section .book-description {
        width: 100%;
        margin: 1rem 0;
    }

    .book-section div.flex {
        flex-direction: column;
        align-items: center;
    }

    .book-section .img-container {
        width: 14rem;
        height: 18rem;
    }

    .book-section .book-image:hover {
        transform: perspective(100px) translate3d(0, 0, 25px);
    }

}

@media screen and (max-width: 420px) {

    .book-section .book-image:hover {
        transform: none;
    }

}