.register-container form {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 18rem;
  text-align: center;
}

.register-container form :first-child {
  margin-top: 0;
}

.register-container input,
.register-container select,
.register-container button[type="submit"] {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.register-container hr {
  margin: 0 0 1rem 0;
}

.register-container button[type="submit"] {
  margin-bottom: 0;
}

.register-container form.error {
  border: 2px solid rgba(180, 50, 40);
}

.register-container form > .message {
  max-width: 18rem;
  text-align: center;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  line-height: 1.5;
  color: #fff;
}

.register-container form > .message-error {
  background-color: rgba(180, 50, 40, 0.8);
}

.register-container form > .message-success {
  background-color: rgba(0, 160, 0, 0.8);
}

@media screen and (max-width: 320px) {
  .register-container input,
  .register-container select,
  .register-container button[type="submit"] {
    height: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .register-container hr {
    margin: 0 0 1.5rem 0;
  }

  .register-container button[type="submit"] {
    margin-bottom: 0;
  }
}
