.cart {
    padding: 1rem;
}

.cart .btn-purchase {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
}

.cart .empty-cart-container {
    width: 12.5rem;
    margin: auto;
}

.cart .empty-cart-container img {
    width: 100%;
}

.cart .empty-cart-container p {
    text-align: center;
}

.cart .product-info {
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-bottom: none;
}

.cart .product-info a {
    transform: none;
    text-decoration: underline;
    color: purple;
}

.cart .product-info span {
    min-width: 10rem;
    margin-left: auto;
    margin-right: 1rem;
}

.cart .product-info:last-of-type {
    border-bottom: 1px solid black;
}

.cart p {
    text-align: right;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {

    .cart .product-info {
        flex-direction: column;
    }

    .cart .product-info a {
        width: 100%;
        text-align: center;
        padding: 0 1rem;
    }

    .cart .product-info span {
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 1rem;
    }

    .cart .product-info button {
        order: -1;
        align-self: flex-end;
    }

}