.cart-container {
    padding: 1rem;
}

.cart-container .btn-clear-cart {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
}

.cart-container .total-price {
    text-align: right;
    margin-bottom: 0;
}

.cart-container .total-price span {
    font-weight: bold;
}