.cart {
    padding: 1rem;
}

.cart .btn-purchase {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
}

.cart .empty-cart-container {
    max-width: 12.5rem;
    margin: auto;
    text-align: center;
}

.cart .empty-cart-container img {
    width: 100%;
}

.cart .total-price {
    text-align: right;
    margin-bottom: 0;
    font-weight: bold;
}