.error-info-container {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
    padding: 1rem;
    text-align: center;
}

.error-info-container p {
    margin: 1rem 0;
}

.error-info-container span {
    font-weight: bold;
    color: red;
}

.error-info-container a {
    display: block;
    margin: 1rem auto;
    font-size: clamp(0.8rem, 1.5vw + 0.5rem, 2rem);
    text-decoration: underline;
    color: purple;
}