.signin-container img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 2rem auto 3rem;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.signin-container img:hover {
    transform: scale(1.2);
}

.signin-container form {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 14rem;
    text-align: center;
}

.signin-container input,
.signin-container button[type="submit"] {
    width: 100%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {

    .signin-container img {
        width: 14rem;
        height: 14rem;
        margin: 0 auto 3rem;
    }

    .signin-container form {
        max-width: 16rem;
    }

    .signin-container input,
    .signin-container button[type="submit"] {
        min-height: 2rem; 
    }

}

@media screen and (max-width: 320px) {

    .signin-container img {
        width: 12.5rem;
        height: 12.5rem;
    }

    .signin-container input,
    .signin-container button[type="submit"] {
        min-height: 3rem;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
    }

}