.signin-container .avatar {
  margin: 2rem auto 3rem;
}

.signin-container form {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 14rem;
    text-align: center;
}

.signin-container input,
.signin-container button[type="submit"] {
    width: 100%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {

    .signin-container .avatar {
        margin: 0 auto 3rem;
    }

    .signin-container form {
        max-width: 16rem;
    }

    .signin-container input,
    .signin-container button[type="submit"] {
        min-height: 2rem; 
    }

}

@media screen and (max-width: 320px) {

    .signin-container input,
    .signin-container button[type="submit"] {
        min-height: 3rem;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
    }

}