/* Header */

.header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header h1 {
    margin: 1rem 0;
    user-select: none;
    flex-shrink: 0;
}

.header nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.header nav a {
    flex-shrink: 0;
    padding: 0.1rem;
}

.header nav .active:not(.profile-link) {
    background-color: rgb(255, 255, 0);
    box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 0);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

.header nav .active.profile-link img {
    background-color: rgb(255, 255, 0);
    box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 0);
    border-radius: 50%
}

.header nav .active.profile-link span {
    border-bottom: 0.1rem solid black;
}

.header .cart-link {
    position: relative;
    width: 3.2rem;
}

.header .cart-link span{
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    background-color: rgb(240, 240, 10, 1);
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 0.1rem;
}

.header .profile-link {
    display: flex;
    align-items: center;
}

.header .user-name {
    float: right;
    margin-left: 0.5rem;
}

.header .user-avatar {
    float: left;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    font-size: 0.6rem;
    text-align: center;
    line-height: 3.2rem;
}

@media screen and (max-width: 800px) {

    .header {
        flex-direction: column;
    }

}
