/* Header */

.header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header h1 {
    margin: 1rem 0;
    user-select: none;
    flex-shrink: 0;
}

.header nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.header nav a {
    flex-shrink: 0;
}

.header .cart-link {
    position: relative;
    width: 3.2rem;
}

.header .cart-link span{
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    background-color: rgb(240, 240, 10, 0.8);
    border: 0.07rem solid black;
    border-radius: 1rem;
    padding: 0.1rem;
}

.header .profile-link {
    line-height: 3.2rem;
}

.header .user-name {
    float: right;
    margin-left: 0.5rem;
}

.header .user-avatar {
    float: left;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {

    .header {
        flex-direction: column;
    }

}
