.cart-item {
  align-items: center;
  padding: 1rem;
  border: 0.07rem solid black;
  border-bottom: none;
}

.cart-item:last-of-type {
  border-bottom: 0.07rem solid black;
}

.cart-item a {
  text-decoration: underline;
  color: purple;
}

.cart-item span {
  min-width: 10rem;
  margin-left: auto;
  margin-right: 1rem;
}

.cart-item button {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .cart-item {
    flex-direction: column;
  }

  .cart-item a {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }

  .cart-item span {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
  }

  .cart-item button {
    order: -1;
    align-self: flex-end;
  }
}
