.empty-cart-container {
  max-width: 12.5rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

.empty-cart-container h2 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.empty-cart-container img {
  width: 100%;
}

.empty-cart-container a {
  margin-top: 0.5rem;
}
