.book-card {
    width: 19rem;
    padding: 1rem;
    transition: box-shadow 0.5s, transform 0.5s;
}

.book-card:hover, .book-card:focus-within {
    transform: translateY(-0.2rem);
    box-shadow: 0 0 0.5rem 0.3rem rgba(0,0,0,0.5);
}

.book-card .img-container {
    width: 100%;
    height: 22rem;
    overflow: hidden;
    border: 0.07rem solid black;
}

.book-card .book-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.book-card .book-img:hover {
    transform: scale(1.1);
}

.book-card h2,
.book-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.3rem 0;
}

.book-card .card-footer {
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
}

@media screen and (max-width: 420px) {

    .book-card {
        width: 100%;
        max-width: 300px;
    }

    .book-card .img-container {
        max-height: 350px;
        height: 100vw;
    }

}