.book-card {
    width: 19rem;
    padding: 1rem;
}

.book-card .img-container {
    width: 100%;
    height: 22rem;
    overflow: hidden;
    border: 1px solid black;
}

.book-card .book-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.book-card .book-img:hover {
    transform: scale(1.1);
}

.book-card h2,
.book-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.3rem 0;
}

.book-card div.flex {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 420px) {

    .book-card {
        width: 300px;
        padding: 16px;
    }

    .book-card .img-container {
        height: 350px;
    }

}

@media screen and (max-width: 320px) {

    .book-card {
        width: 100%;
    }

}