.price-range-fieldset {
  min-width: 12.5rem;
  text-align: center;
  border: var(--border-md);
  border-radius: var(--radius-md);
  margin: 0;
}

.price-range-fieldset input {
  width: 4rem;
  height: 2rem;
}

.price-range-fieldset span {
  margin: 0 0.5rem;
  user-select: none;
}
