.order-section {
    margin: 1rem;
    padding: 1rem;
    border: 0.14rem gray dashed;
    max-width: 20rem;
    min-width: 16rem;
    width: 100%;
    user-select: none;
    flex-shrink: 0;
}

.order-section div {
    height: 3rem;
}

.order-section div p {
    margin: 0;
}

.order-section .price-paragr,
.order-section .count-label,
.order-section .total-price-paragr {
    float: left;
    line-height: 3rem;
}

.order-section .price,
.order-section .count,
.order-section .total-price {
    float: right;
}

.order-section .price,
.order-section .total-price {
    line-height: 3rem;
}

.order-section .count {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 3rem;
    height: 2rem;
    margin: 0.5rem 0;
}

.order-section .count:focus {
    transform: none;
}

.count::-webkit-outer-spin-button,
.count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-section .add-button {
    margin: 1rem 0 0;
    clear: both;
    float: right;
}

.order-section .btn-plus,
.order-section .btn-minus {
    float: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.order-section .btn-plus {
    margin-left: 0.6rem;
}

.order-section .btn-minus {
    margin-right: 0.6rem;
}