.order-section {
    margin: 1rem;
    padding: 1rem;
    border: 0.14rem gray dashed;
    max-width: 20rem;
    min-width: 16rem;
    width: 100%;
    user-select: none;
    flex-shrink: 0;
    position: relative;
}

.order-section .order-info-item {
    height: 3rem;
    line-height: 3rem;
}

.order-section .item-lable {
    float: left;
}

.order-section .item-value {
    float: right;
}

.order-section .count {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 3rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.order-section .count:focus {
    transform: none;
}

.order-section .count::-webkit-outer-spin-button,
.order-section .count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-section .add-button {
    margin: 1rem 0 0;
    clear: both;
    float: right;
}

.order-section .cart-item-loader {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2rem);
    z-index: 9999;
    border-radius: 0.6rem;
  }