.profile-container {
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.profile-container .avatar {
  align-self: center;
}

.profile-container form {
  max-width: 16rem;
  min-width: 14rem;
  padding: 1rem;
  text-align: center;
}

.profile-container form :first-child {
  margin-top: 0;
}

.profile-container form input,
.profile-container form select,
.profile-container form button {
  height: 2rem;
}

.profile-container form input,
.profile-container form select {
  width: 100%;
  margin-bottom: 1rem;
}

.profile-container form button {
  min-width: 40%;
  margin: 0 0.5rem;
}

.profile-container form hr {
  margin: 0 0 1rem 0;
}

.profile-container form.error {
  border: 2px solid rgba(180, 50, 40);
}

.profile-container form > .alert {
  max-width: 16rem;
  text-align: center;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  line-height: 1.5;
  color: #fff;
}

.profile-container form > .error {
  background-color: rgba(180, 50, 40, 0.8);
}

.profile-container form > .message {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 320px) {
  .profile-container form input,
  .profile-container form select {
    margin-bottom: 1.5rem;
  }

  .profile-container form input,
  .profile-container form select,
  .profile-container form button {
    height: 3rem;
    border-radius: 1.5rem;
  }

  .profile-container form hr {
    margin: 0 0 1.5rem 0;
  }
}
