.message {
  margin: 0 auto 1rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  line-height: 1.5;
  color: #fff;
}

.message-success {
  background-color: rgba(10, 100, 70, 0.7);
}

.message-error {
  background-color: rgba(180, 50, 40, 0.7);
}

.message-warning {
  background-color: rgba(200, 200, 0, 0.7);
}
.message-info {
  background-color: rgba(44, 44, 177, 0.7);
}
